## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Bethel,US,41.3712,-73.4140,69.64,85,100,5.99,overcast clouds
1,Ushuaia,AR,-54.8000,-68.3000,38.23,91,36,5.03,scattered clouds
2,Alice Springs,AU,-23.7000,133.8833,69.22,32,75,6.91,broken clouds
3,Albany,US,42.6001,-73.9662,74.62,71,98,1.01,overcast clouds
4,Airai,TL,-8.9266,125.4092,66.67,83,64,1.19,broken clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the min temperature you would like for your trip?'))

max_temp = float(input('What is the max temperature you would like for your trip?'))

What is the min temperature you would like for your trip?75
What is the max temperature you would like for your trip?90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,Sorong,ID,-0.8833,131.2500,80.89,78,98,3.98,overcast clouds
12,Mattru,SL,7.6244,-11.8332,75.63,95,94,1.81,overcast clouds
13,Trincomalee,LK,8.5711,81.2335,80.40,82,100,23.09,overcast clouds
16,Georgetown,MY,5.4112,100.3354,82.33,89,20,0.00,few clouds
19,Bengkulu,ID,-3.8004,102.2655,78.10,91,42,3.74,scattered clouds
24,Saint-Georges,GD,12.0564,-61.7485,79.36,76,99,14.74,overcast clouds
31,Basak,PH,6.7274,124.1512,77.85,80,77,1.70,moderate rain
34,Rikitea,PF,-23.1203,-134.9692,76.53,71,3,20.94,clear sky
37,Savannah Bight,HN,16.4500,-85.8500,81.50,66,4,12.53,clear sky
40,Dingle,PH,10.9995,122.6711,81.68,76,99,3.74,light rain

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sorong,ID,80.89,overcast clouds,-0.8833,131.2500,
12,Mattru,SL,75.63,overcast clouds,7.6244,-11.8332,
13,Trincomalee,LK,80.40,overcast clouds,8.5711,81.2335,
16,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
19,Bengkulu,ID,78.10,scattered clouds,-3.8004,102.2655,
24,Saint-Georges,GD,79.36,overcast clouds,12.0564,-61.7485,
31,Basak,PH,77.85,moderate rain,6.7274,124.1512,
34,Rikitea,PF,76.53,clear sky,-23.1203,-134.9692,
37,Savannah Bight,HN,81.50,clear sky,16.4500,-85.8500,
40,Dingle,PH,81.68,light rain,10.9995,122.6711,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
import numpy as np

In [11]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sorong,ID,80.89,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
12,Mattru,SL,75.63,overcast clouds,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
13,Trincomalee,LK,80.40,overcast clouds,8.5711,81.2335,Welcombe Hotel
16,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
19,Bengkulu,ID,78.10,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
...,...,...,...,...,...,...,...
637,Mandalay,MM,80.69,broken clouds,21.9747,96.0836,Hotel Yadanarbon
652,Pendencias,BR,77.79,broken clouds,-5.2600,-36.7222,Cabanas Pousada
658,Chopda,IN,80.94,clear sky,21.2500,75.3000,CHACHA BHATIJA AAMLET CENTAR
660,Kudahuvadhoo,MV,83.32,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives
663,Pangai,TO,78.91,few clouds,-19.8000,-174.3500,Ha'apai Beach Resort

In [12]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_Vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Weather Description</dt><dd>{Current Description}</dd>

<dt>Max Temp</dt><dd>{Max Temp}</dd>

</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[['Lat','Lng']]

max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))